@charset "UTF-8";
/* color checker */
/* fonts */
@font-face {
  font-family: "alien";
  src: url("../assets/fonts/alienleagueii.ttf"); }
/* reset body and option block */
body {
  margin: 0;
  padding: 0;
  color: #B3B3B3;
  background-color: #0A0A0A;
  background-image: url("../assets/img/BGprincipal.png");
  background-attachment: fixed;
  overflow-x: hidden; }

.flex {
  display: flex;
  width: 100%; }

/* menu */
.menu {
  height: 50px;
  border-bottom: 5px solid #141414;
  background-image: url("../assets/img/BGbar.png");
  position: fixed;
  top: 0;
  z-index: 2; }

.menu-item {
  margin: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "alien", Helvetica;
  font-size: 1.5em;
  height: 42px; }

.border {
  border-bottom: 1px solid transparent; }

.border:hover {
  text-shadow: 1px 1px 5px #00C700;
  border-bottom: 1px solid #00C700; }

/* svg path */
.ico {
  height: 50px;
  margin-top: -15px; }

.highlight {
  fill: #B3B3B3; }

.highlight:hover {
  fill: #00C700;
  filter: drop-shadow(1px 1px 3px #B3B3B3); }

/* header */
#hidden_top {
  height: 30vh; }

@keyframes bganimate {
  from {
    background-position: 50% 50%, 50% 100%; }
  to {
    background-position: 50% 50%, 50% 60%; } }
.top-section {
  animation-name: bganimate;
  animation-duration: 10s;
  transition: height 0.5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  height: 50vh;
  background-color: #141414;
  background-image: url("../assets/img/BGfront.svg"), url("../assets/img/BGback.png");
  background-attachment: fixed scroll fixed;
  background-blend-mode: difference;
  background-position: 50% 50%, 50% 60%;
  background-size: inherit, cover, cover;
  background-repeat: no-repeat, no-repeat;
  border-bottom: 5px solid #141414;
  position: fixed;
  top: 50px; }

.container-name {
  margin: auto;
  text-align: center; }

@keyframes logoanim {
  0% {
    transform: rotateY(-20deg); }
  50% {
    transform: rotateY(20deg); }
  100% {
    transform: rotateY(0deg); } }
.logo {
  height: 32vh;
  animation-name: logoanim;
  animation-duration: 5s;
  transition: height 0.5s;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-image: url("../assets/img/BG.png");
  background-size: 307% 242%;
  background-position: 48% 44%;
  perspective: 150px; }

#double_ligne {
  color: #B3B3B3;
  font-family: "alien", Helvetica;
  font-size: 0.8em;
  height: 12px;
  width: 100vw;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px dashed #B3B3B3;
  border-top: 1px dashed #B3B3B3;
  background-image: url("../assets/img/BGbar.png");
  margin-top: 50.5vh;
  transition: margin-top 0.5s;
  position: fixed;
  z-index: 4; }

marquee {
  margin-top: -2px; }

/* description */
section.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 2fr;
  grid-gap: 100px;
  margin-top: 60vh; }
  @media screen and (max-width: 768px) {
    section.grid {
      display: block;
      padding: 25px; } }
  @media screen and (min-width: 769px) and (max-width: 1420px) {
    section.grid {
      grid-template-columns: 1fr 20fr 40fr 1fr;
      grid-gap: 10px; } }

@keyframes avatar {
  from {
    transform: rotateX(90deg) rotateY(90deg); }
  to {
    transform: rotateX(0deg) rotateY(0deg); } }
.avatar {
  grid-column: 2/3; }
  @media screen and (max-width: 768px) {
    .avatar {
      float: left;
      width: 35%;
      margin: 25px; } }

.avatar img {
  width: 100%;
  animation-name: avatar;
  animation-duration: 3.5s; }

.desc {
  grid-column: 3/4; }

.desc::first-line {
  color: #B3B3B3; }

.bigL {
  font-size: 2em;
  color: #00C700; }

section.section1 {
  background-image: url("../assets/img/BGtriangle.svg");
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-blend-mode: soft-light; }

section.comp├®tences {
  width: 50vw; }

@keyframes scaleright {
  from {
    transform: translate(-200vw, 0px); }
  to {
    transform: translate(0vw, 0px); } }
h2.titlesection {
  animation-name: scaleright;
  animation-duration: 1.6s;
  text-align: center;
  font-family: "alien", Helvetica;
  font-size: 3em;
  font-weight: 100;
  margin: 12px;
  margin-left: 15vw;
  margin-top: 5vh;
  padding-right: 60vw;
  border-bottom: 1px solid #00C700; }

@keyframes scaleleft {
  from {
    transform: translate(200vw, 0px); }
  to {
    transform: translate(0vw, 0px); } }
.content_logo {
  animation-name: scaleleft;
  animation-duration: 1.6s;
  width: 60vw;
  margin: auto;
  padding: 12px; }

@keyframes logoturn {
  from {
    transform: rotateY(90deg); }
  to {
    transform: rotateY(0deg); } }
object.logoS {
  animation-name: logoturn;
  animation-duration: 6s;
  max-width: 100%;
  min-width: 8%; }

.logoS {
  height: 50px;
  fill: #B3B3B3;
  margin: auto; }

@keyframes rotateBar {
  from {
    transform: rotateX(-90deg); }
  to {
    transform: rotateX(0deg); } }
hr {
  animation-name: rotateBar;
  animation-duration: 8s;
  border: 1px solid #B3B3B3; }

p.description_1 {
  margin: auto;
  font-size: 1.2em;
  width: 70vw;
  text-indent: 5em;
  padding: 1em;
  font-family: "alien", Helvetica; }

p.description_1::first-letter {
  font-size: 2em;
  line-height: 0.4;
  color: #B3B3B3;
  text-shadow: 0px 0px 50px #00C700; }

p.description_1::first-line {
  color: #B3B3B3;
  text-shadow: 0px 0px 30px #00C700; }

.content-paragraphe {
  width: 70vw;
  margin: auto; }

p.parcours {
  margin: auto;
  width: 10vw; }

section.section2 {
  background-image: url("../assets/img/BGtriangle2.svg");
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-blend-mode: soft-light; }

.xp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  font-size: 20px;
  font-family: "alien", Helvetica;
  margin-top: 50px; }
  @media screen and (max-width: 697px) {
    .xp {
      grid-template-columns: 1fr 1fr; } }

.xp1 {
  padding: 20px; }
  @media screen and (min-width: 698px) {
    .xp1 {
      grid-column: 2/3; } }

.xp2 {
  padding: 15px; }
  @media screen and (min-width: 698px) {
    .xp2 {
      grid-column: 3/4; } }

.xp3 {
  padding: 10px; }
  @media screen and (min-width: 698px) {
    .xp3 {
      grid-column: 4/5; } }

.xp4 {
  padding: 5px; }
  @media screen and (min-width: 698px) {
    .xp4 {
      grid-column: 5/6; } }

@media screen and (min-width: 698px) {
  .xp5 {
    grid-column: 6/7; } }

.date {
  color: #00C700;
  font-size: 25px;
  text-align: center; }

ul.galery_content {
  display: grid;
  padding-left: 10vw;
  padding-right: 10vw;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  perspective: none;
  list-style: none; }

.wide {
  grid-column: span 2; }

.tall {
  grid-row: span 2; }

.box {
  grid-row: span 2;
  grid-column: span 2; }

.img_content img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*# sourceMappingURL=main.css.map */
